#M3-1
What is List? How will you reverse a list?

- List are used to store multiple items in a single variable. 
- List are one of 4 built-in data type in python used to store collection of data the other 3 are tuple,set and dictionary , all with diffrent qualities and usage.
- A built-in function called reverse()is used to reverse the list. This simple and quick way to reverse a list requires little memory.
- Syntax :- list_name.reverse() here , list_name means you have to write the list's name , which has to be reverse.

#M3-2
How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

- Another efficient , yet simple approach to delete the last element of the list is by using the del statement. 
- The del operator delete the element at the specified index location from the list. 
- To delete the last element , we can use the negative index-1.
- 1 corresponds to the last index in the list.

# M3-3

Differentiate between append () and extend () methods?

**APPEND METHOD**

- The element passed as an argument is appended to the end of the list. An iterable passed as an argument appends without any change as a single element to the end of the list. Length of the list increases by 1.
- Syntax :- list_name.append(element)

**EXTEND METHOD**

- Each element of the iterable passed as an argument gets appended to the end of the list. An iterable passed as an argument will append each of its elements to the end of the list. An iterable passed as an argument will append each of its elements to the end of the list.
-**Syntax :-** list_name.extend(iterable)

In [ ]:
#M3-4
number=[]
n=int(input("Enter the number of elements in list: "))
for i in range(1, n + 1):
    element=int(input("Enter elements: "))
    number.append(element)
number.sort()
print("Largest element is:",number[n-1])
print("Smallest element is:",number[0])

Enter the number of elements in list: 5
Enter elements: 6
Enter elements: 7
Enter elements: 8
Enter elements: 9
Enter elements: 8
Largest element is: 9
Smallest element is: 6

#M3-5

How will you compare two lists?

- The reduce() and map() function
- The collection.counter() function
- Python sort() function along with == operator
- Python set() function along with == operator
- The difference() function

In [ ]:
#M3-6
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#M3-7
list_value1=[12,15,11,12,8,15,3,3]  
print("The initialized list is ",list_value1)  
res_list=[]  
for i in list_value1:  
    if i not in res_list:  
        res_list.append(i)  
print("The resultant list after removing duplicates is ",res_list)

The initialized list is  [12, 15, 11, 12, 8, 15, 3, 3]
The resultant list after removing duplicates is  [12, 15, 11, 8, 3]

In [ ]:
#M3-8
l = []
if not l:
  print("List is empty")

List is empty

In [ ]:
#M3-9
list1=[1,3,5,7]
list2=[1,3,5,7]
result = 0
def find_common(list1, list2):
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
             else:
               result = False
               return result
print(find_common(list1, list2))

True

In [ ]:
#M3-10
def printValues():
	l = list()
	for i in range(1,31):
		l.append(i**2)
	print(l[:5])
	print(l[-5:])
printValues()

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [ ]:
#M3-11
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
#M3-12
s = ['G','R','I','S','H','M','A']
str1 = ' '.join(s)
print(str1)

G R I S H M A

In [ ]:
#M3-13
import random
colour_list=['Red','Blue','Green','Yellow','White','Black']
print(random.choice(colour_list))

Yellow

In [ ]:
#M3-14
nums = []
print("Enter 10 Numbers (Elements) for List: ")
for i in range(10):
  nums.append(int(input()))

small = nums[0]
for i in range(10):
  if small>nums[i]:
    small = nums[i]

secondSmall = nums[0]
for i in range(10):
  if secondSmall>nums[i]:
    if nums[i]!=small:
      secondSmall=nums[i]

print("\nSecond Smallest Number is: ")
print(secondSmall)

Enter 10 Numbers (Elements) for List:
123
123
123
123
123
123
456
765
678
876

Second Smallest Number is:
123

In [ ]:
#M3-15
def unique_numbers(duplicate): 
   unique_numbers_set = set(duplicate)  
   unique_numbers_list = list(unique_numbers_set) 
   return unique_numbers_list
duplicate_list = [1, 2, 3, 4, 1, 2, 5, 6, 6, 6] 
print(unique_numbers(duplicate_list))

[1, 2, 3, 4, 5, 6]

In [ ]:
#M3-16
test_list = [1,2,3,4,5,6,5,7]
print("The original list : " +str(test_list))
sublist = [1, 2, 3]
res = any(test_list[idx: idx + len(sublist)] == sublist
		for idx in range(len(test_list) - len(sublist) + 1))
print("Is sublist present in list ? : " + str(res))

The original list : [1, 2, 3, 4, 5, 6, 5, 7]
Is sublist present in list ? : True

In [ ]:
#M3-17
name=[('G'),('R'),('I'),('S'),('H'),('M'),('A')]
var1, var2, var3, var4, var5, var6, var7 = name
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)
print(var7)

G
R
I
S
H
M
A

#M3-18

What is tuple? Difference between list and tuple.

- Tuples are used to store multiple items in a single variable.A tuple is a collection which is ordered and unchangeable.
- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

LIST
- List is mutable.
- List iteration is slower and is time consuming.
- List is useful for insertion and deletion operations.
- List consumes more memory.
- List provides many in-built methods.

TUPLE
- Tuple is immutable.
- Tuple iteration is faster.
- Tuple is useful for readonly operations like accessing elements.
- Tuples consumes less memory.
- Tuples have less in-built methods.

In [ ]:
#M3-19
x = ("Sapariya Grishma", True,'G', 3.21, 53)
print(x)

('Sapariya Grishma', True, 'G', 3.21, 53)

In [ ]:
#M3-20
a=1,2,3,4,5
print(a)
a=5
print(a)

(1, 2, 3, 4, 5)
5

In [ ]:
#M3-21
tup=('G','R','I','S','H','M','A')
str = ''.join(tup)
print(str)

GRISHMA

In [ ]:
#M3-22
tup = ("G", 5, "R", "I", "S", "H", "M","A")
print("G" in tup)
print(2 in tup)

True
False

In [ ]:
#M3-23
tup1=("Grishma","Rutik", 5320)
tup2=("Aksh", 711, "Shreya", 132)
print("Frist tuple length :", len(tup1))
print("Scond tuple length :", len(tup2))

Frist tuple length : 3
Scond tuple length : 4

In [ ]:
#M3-24
list = [1,2,3,4,5,6]
print(list)
tup=tuple(list)
print(tup)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [ ]:
#M3-25
x = (1,2,3,4,5,6,7,8,9)
y = reversed(x)
print(tuple(y))
s = ('G', 'R', 'I', 'S', 'H', 'M', 'A')
d = reversed(s)
print(tuple(d))

(9, 8, 7, 6, 5, 4, 3, 2, 1)
('A', 'M', 'H', 'S', 'I', 'R', 'G')

In [ ]:
#M3-26
l = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
print([t[:-1] + (10,) for t in l])

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [ ]:
#M3-27
t = (1,2,3,4,5,6,4,7,4,8,4,4)
print(t)
count = t.count(4)
print(count)

(1, 2, 3, 4, 5, 6, 4, 7, 4, 8, 4, 4)
5

In [ ]:
#M3-28
l = [('one'), (), ('two'), (), ('three')]

l = [t for t in l if t]
print(l)

['one', 'two', 'three']

In [ ]:
#M3-29
l = [(10,30), (60,90), (20,50)]
print(list(zip(*l)))

[(10, 60, 20), (30, 90, 50)]

In [ ]:
#M3-30
l = [("Name", "Grishma"), ("Name", "Aksh"), ("Name", "Shreya"), ("Age", 22), ("Gender", "Female"), ("Age", 20), ("Gender", "Male"), ("Gender", "Female") , ("Age", 23)]
dic = {}
for x, y in l:
    dic.setdefault(x, []).append(y)
print (dic)

{'Name': ['Grishma', 'Aksh', 'Shreya'], 'Age': [22, 20, 23], 'Gender': ['Female', 'Male', 'Female']}

#M3-31 
How will you create a dictionary using tuples in python?
- In Python, use the dict() function to convert a tuple to a dictionary.
-  A dictionary object can be created with the dict() function. 
- The dictionary is returned by the dict() method, which takes a tuple of tuples as an argument.

In [ ]:
#M3-32
import operator
a = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sa = sorted(a.items(), key=operator.itemgetter(1))
print('Ascending order : ',sa)
sd = dict( sorted(a.items(), key=operator.itemgetter(1),reverse=True))
print('Descending order : ',sd)

Original dictionary :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Ascending order :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
#M3-33
s1={"Name":"Grishma" , "Age":23}
s2={"City": "Rajkot", "Gender": "Female"}
s3={"Mark":450}
s4 = {}
for d in (s1, s2, s3): s4.update(d)
print(s4)

{'Name': 'Grishma', 'Age': 23, 'City': 'Rajkot', 'Gender': 'Female', 'Mark': 450}

In [ ]:
#M3-34
d={'A':1,'B':2,'C':3}
key=input("Enter key to check: ")
if key in d.keys():
      print("Key is present and value of the key is:")
      print(d[key])
else:
      print("Key isn't present!")

Enter key to check: G
Key isn't present!

#M3-35

How Do You Traverse Through A Dictionary Object In Python?**

- Iterating Through Keys Directly.
- Iterating Through .items()
- Iterating Through .keys()
- Iterating Through .values()

#M3-36

How Do You Check The Presence Of A Key In A Dictionary? 

- Using the Inbuilt method keys() method returns a list of all the available keys in the dictionary. 
- With the Inbuilt method keys(), use if statement with 'in' operator to check if the key is present in the dictionary or not.

In [ ]:
#M3-37
l=int(input("Enter the Limit : "))
d = dict()
for x in range(1,l+1):
    d[x]=x**2
print(d)

Enter the Limit : 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#M3-38
student = {
  'name': 'Grishma',
  'age': 23,
  'city': 'Vadodara'
}
print(student.keys() >= {'age', 'name'})
print(student.keys() >= {'City', 'Ram'})
print(student.keys() >= {'city', 'age'})

True
False
True

In [ ]:
#M3-39
a1 = {'s': 500, 't': 100}
a2 = {'x': 300, 'y': 400}
b = a1.copy()
b.update(a2)
print(b)

{'s': 500, 't': 100, 'x': 300, 'y': 400}

In [ ]:
#M3-40
keys = ['name', 'age', 'job']
values = ['Grishma', 23, 'Web Developer']

mydict = {k: v for k, v in zip(keys, values)}
print("Dictionary Items  :  ",  mydict)

Dictionary Items  :   {'name': 'Grishma', 'age': 23, 'job': 'Web Developer'}

In [ ]:
#M3-41
from collections import Counter  
dict1 = {'a': 100, 'b': 200, 'c':300}  
dict2 = {'a': 300, 'b': 200, 'd':400}  
new_dict = Counter(dict1) + Counter(dict2)  
print("The new  dict is:", new_dict)

The new  dict is: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
#M3-42
dict1 = {'A' : [1, 3, 5, 4],'B' : [4, 6, 8, 10],'C' : [6, 12, 4 ,8],'D' : [5, 7, 2]}
print("The original dictionary is : " ,dict1)
res = list(sorted({ele for val in dict1.values() for ele in val}))
print("The unique values list is : " , res)

The original dictionary is :  {'A': [1, 3, 5, 4], 'B': [4, 6, 8, 10], 'C': [6, 12, 4, 8], 'D': [5, 7, 2]}
The unique values list is :  [1, 2, 3, 4, 5, 6, 7, 8, 10, 12]

#M3-43

Why Do You Use the Zip () Method in Python?

 - Python’s zip() function is defined as zip(*iterables). The function takes in iterables as arguments and returns an iterator. This iterator generates a series of tuples containing elements from each iterable. zip() can accept any type of iterable, such as files, lists, tuples, dictionaries, sets, and so on. 
 - Python’s zip() function creates an iterator that will aggregate elements from two or more iterables. You can use the resulting iterator to quickly and consistently solve common programming problems, like creating dictionaries.

In [ ]:
#M3-44
import itertools      
x ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[x[k] for k in sorted(x.keys())]):
    print(''.join(combo))

ac
ad
bc
bd

In [ ]:
#M3-45
from collections import Counter
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
c = Counter(my_dict)
most_common = c.most_common(3)
my_keys = [key for key, val in most_common]
print(my_keys)

['b', 'e', 'c']

In [ ]:
#M3-46
from collections import Counter
item_list = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
result = Counter()
for d in item_list:
    result[d['item']] += d['amount']
print(result)

Counter({'item1': 1150, 'item2': 300})

In [ ]:
#M3-47
from collections import defaultdict, Counter
str1 = 'w3resource' 
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter, 0) + 1
print(my_dict)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
#M3-48
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is", factorial)

Enter a number: 8
The factorial of 8 is 40320

In [ ]:
#M3-49
def test_range(n):
    if n in range(10,20):
        print( "The number %s is in the range" % str(n))
    else :
        print("The number is outside the given range.")
test_range(15)

The number 15 is in the range

In [ ]:
#M3-50
num=int(input("Enter the number: "))  
sum_v=0  
for i in range(1,num):  
    if (num%i==0):  
        sum_v=sum_v+i  
if(sum_v==num):  
    print("The entered number is a perfect number")  
else:  
    print("The entered number is not a perfect number")

Enter the number: 8
The entered number is not a perfect number

In [ ]:
#M3-51
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('madam'))

True

#M3-52

How Many Basic Types Of Functions Are Available In Python?

- There are three types of functions in Python.
- Python Built-in Functions.
- Python Recursion Functions.
- Python Lambda Functions.
- Python User-defined Function

#M3-53

How can you pick a random item from a list or tuple?

- Generate a random item from the tuple using random. choice() method by passing the input tuple as an argument to the choice() function. 
- Print the generated random tuple item.

#M3-54

How can you pick a random item from a range?
- Generate random integers using random. randrange() method. Python provides a function named randrange() in the random package that can produce random numbers from a given range while still enabling spaces for steps to be included. The below example uses randrange() to randomly print integers.

#M3-55

How can you get a random number in python?
- To generate random number in Python, randint() function is used. This function is defined in random module.

#M3-56

How will you set the starting value in generating random numbers?
- The seed() method is used to initialize the random number generator. The random number generator needs a number to start with (a seed value), to be able to generate a random number. 
- By default the random number generator uses the current system time.

#M3-57

How will you randomizes the items of a list in place? 
- The shuffle() method randomizes the items of a list in place.

In [ ]:
#M3-58
import random
lines = open('file.txt').read().splitlines()
myline =random.choice(lines)
print(myline)

In [ ]:
#M3-59
pi = 22/7
degrees = 5

radians = degrees * pi / 180
print(radians)

0.0873015873015873

In [ ]:
#M3-60
b1 = 5
b2 = 6
hgt = float(input("Enter Height of Trapezoid: "))
b1 = float(input("Enter the Base 1 Value :"))
b2 = float(input("Enter the Base 2 Value :"))
area = ((b1 + b2) / 2) * hgt
print("Area : ", area)

Enter Height of Trapezoid: 8
Enter the Base 1 Value :7
Enter the Base 2 Value :5
Area :  48.0

In [ ]:
#M3-61
base = float(input("Enter The Length of Base : "))
height = float(input("Enter Measurement of height : "))
area = base * height
print("Area : ", area)

Enter The Length of Base : 5
Enter Measurement of height : 6
Area :  30.0

In [ ]:
#M3-62
pi=3.14
height = float(input("Enter The Height of Cylinder: "))
radian = float(input("Enter The Radius of Cylinder: "))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume : ", volume)
print("Surface Area : ", sur_area)

Enter The Height of Cylinder: 3
Enter The Radius of Cylinder: 6
Volume :  339.12
Surface Area :  339.12

In [ ]:
#M3-63
num = int(input("Enter the Number :"))
div = [1]
for i in range(2, num):
	if (num % i)==0:
		div.append(i)
print("Sum of all divisors :",sum(div))

Enter the Number :7
Sum of all divisors : 1

In [ ]:
#M3-64
print("Enter the Multiple Decimal Points Comma Separate...")
dec = input("").split(",")
print("Maximum: ", max(dec))
print("Minimum: ", min(dec))

Enter the Multiple Decimal Points Comma Separate...
76,89,65,34,54
Maximum:  89
Minimum:  34